# Dependências
node_modules/
**/node_modules/

# Build
dist/
build/
**/dist/

# Prisma
backend/prisma/migrations/

# Ambiente
.env
**/.env

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Vite
**/.vite/

# TypeScript
*.tsbuildinfo
